.break-string {
  display: none;

    &--tablet {
      @media (min-width: $tablet-width) {
        display: inline;
    }

    &--desktop {
      @media (min-width: $desktop-width) {
        display: inline;
      }
    }
  }
}
