.main-nav {
  position: relative;
}

.main-nav__wrapper {
  display: flex;
  align-items: center;
  width: 320px;
  padding: 0 0 0 20px;
  margin: 0 auto;
}

.main-nav__description {
  display: none;
  font-family: "Montserrat Regular", "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
}

.main-nav__toggle {
  position: relative;
  top: 0;
  right: 0;
  display: block;
  width: 16px;
  height: 12px;
  border: none;
  background-position: center;
  background-color: transparent;
  min-width: 60px;
  min-height: 60px;

  &:active {
    background-color: $base-secondary;
  }
}

.main-nav--closed .main-nav__toggle {
  width: 16px;
  height: 12px;
  background-image: url("/img/svg/burger.svg");
  background-repeat: no-repeat;
}

.main-nav--opened .main-nav__toggle {
  width: 18px;
  height: 21px;
  background-image: url("/img/svg/close-icon.svg");
  background-repeat: no-repeat;
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav--nojs .main-nav__wrapper {
  position: static;
  min-height: 0;
}

.main-nav--nojs .site-list__item {
  display: block;
}
